<?php
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => \Doctrine\DBAL\Driver\PDOMySql\Driver::class,
                'params' => [
                    'host' => 'localhost',
                    'port' => '3306',
                    'dbname' => 'excel',
                    'user' => 'root',
                    'password' => 'root',
                ],
            ],
        ],
    ],
    'zf-mvc-auth' => [
        'authentication' => [
            'adapters' => [
                'oauth2_pdo' => [
                    'adapter' => \ZF\MvcAuth\Authentication\OAuth2Adapter::class,
                    'storage' => [
                        'adapter' => \pdo::class,
                        'dsn' => 'mysql:dbname=excel;host=127.0.0.1',
                        'route' => '/oauth',
                        'username' => 'root',
                        'password' => 'root',
                    ],
                ],
            ],
        ],
    ],
];
